/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow NO resizing of textareas.
 */

textarea {
    resize: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
    color: white;
    font-weight: lighter;
    min-width: 800px;
    min-height: 450px;
}

input, textarea{
    color: black;
    font-size: 12px;
}

#map-tools{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
}

.very-top:{
    top: 30px;
}

.top {
    top: 10%;
}

.bottom {
    bottom: 80px;
}

.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}


.tool-window{
    position: absolute;
    background-color: rgba(30,30,30, .85);
    border: 3px solid rgb(50,50,50);
    border-radius: 15px;
    pointer-events: auto;
}

.tool-window:before {
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgba(100,100,100, .85);
    border-radius: 13px 13px 3px 3px;
    text-align: center;
    line-height: 30px;
}

#title-settings:before{
    content: 'Set Title and Description'
}

#map-settings:before{
    content: 'Set Default Map';
}

#timeline-settings{
    min-height: 153px;
}

#timeline-settings:before{
    content: 'Set Timeline';
}

#webgl-settings{
    width: 20%;
    min-width: 430px;
}

#webgl-settings:before{
    content: 'Set Point Attributes';
}

#drop-down-list{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

#webgl-settings ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#webgl-settings-list{
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
}


#webgl-settings-list li{
    height: 50px;
    word-wrap:break-word;
    background: rgba(15,15,15, .5);
    line-height: 40px;

}

.tool-options {
    opacity: 0;
    position: absolute;   
}

.tool-options, .tool-options-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.tool-options-label{
    position: relative;
}

.tool-options + .tool-options-label:before{
    content: '';
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%
}

.tool-options:checked + .tool-options-label:before {
    background: #0dc4a3;
}


#webgl-inner-tools{
    display: inline-block;
    position: relative;
    float: right;
    width: 50%;
    height: calc(100% - 30px);
    border-radius: 0px 0px 5px 0px;
    transition: right .5s, opacity .3s;
}


.triangle-pointer{
    position: absolute;
    left: 0px;
    width: 0; 
    height: 0; 
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent; 
    border-left: 20px solid rgba(15,15,15, .5);
    transition: top .3s;
}

#first-pointer{
    top: 2px;
}
#second-pointer{
    top: 54.5px;
}
#third-pointer{
    top: 106.5px;
}
#fourth-pointer{
    top: 157.5px;
}
#fifth-pointer{
    top: 226.5px;
}

.spacer{
    height: 20px;
    color: rgb(50,50,50);
    background-color: rgb(230,230,230);
}

.set-attribute{
    height: 51.5px;
    line-height: 56px;
    margin-left: 25px;
}
.set-attribute > input{
    position: relative;
    float: left;
    margin-top: 20px;
}

.value{
    position: relative;
    float: left;
    margin-left: 5px;
    height: 15px;
    width: 25px;
    margin-top: 15px;
    color: black;
}

#timeline-settings form, #title-settings form{
    margin: 12px;
}


#timeline-settings input[type=number]{
    width: 35px;
}

#time-to-complete label, #time-to-complete input {
    display: inline-block;
    vertical-align: baseline;
    width: 80px;
}

#timeline-settings label{
    margin-left: 15px;
}

#timeline-settings legend{
    margin-bottom: 5px;
}

.button { 
    height: 35px;
    margin: 10px;
    display: inline-block;
    background-color: #0dc4a3;
    border: 5px solid rgb(100,100,100);
    border-radius: 5px;
    line-height: 35px;
    color: white;
    text-align: center;
    font-size: 15px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    pointer-events: auto;
}

.button:hover {
  background-color: rgb(50,50,50);
  cursor: pointer;
}

.button:active {
  background-color: rgb(90,90,90);
  cursor: pointer;
}

#set-map-button {
    width: 170px;   
}

#set-map-button input[name=description]{
    height: 100px;
}

#preview-area{
    min-width: 310px;
}

#preview-button{
    width: 100px;
    float: left;
}

.preview:before{
   content: 'Preview'; 
}

.show-tools:before{
   content: 'Show Tools'; 
}

#save-button{
    width: 150px;
    float: right;
}

.dark-background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30, .85);
    pointer-events: auto;
    z-index: 100;
}

#share-window{
    width: 350px;
    height: 300px;
}

#share-window:before{
    content: 'Share Links:';
}

.x-big{
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 45px;
}

.x-small{
    top: 0px;
    height: 30px;
    width: 40px;
    line-height: 30px;
    font-size: 25px;
    border-radius: 13px 0px 0px 0px;
}

.x-button{
    position: absolute;
    background-color: rgba(100,20,20,.65);
    text-align: center;
    transition: background-color .2s;
}

.x-button:before {
    content: '\d7';
}

.x-button:hover {
    background-color: rgba(50,20,20,.70);
}

.x-button:active {
    background-color: rgba(50,50,50,.70);
}

.share-title {
    margin: 10px;
}

.share-title > h4 {
    font-weight: lighter; 
    margin: 5px 0px;
}

.share-title > textarea {
    width: 100%;
    overflow: auto;
}

#download-button{
    margin: 0px;
    height: 30px;
    line-height: 30px;
    width: 170px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * No Highlight
 */

.no-highlight {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 400px){
    #share-window{
        transform: translateY(-50%);
        left: 20px;
    }
}

@media  (max-width: 800px){
    .right{
        left: 321px;
    }

    .left{
        left: 40px;
    }

    #map-settings{
        width: 206px;
        left: 550px;
    }

    .center{
        transform: none;
        left: 274px;
    }
}


@media  (max-height: 664px){
    .top{
        top: 63px;
    }

    .bottom{
        bottom: ;
        top: 425px;
    }

    #map-settings{
        height: 100px;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
