/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

label[for=project_title], label[for=project_id], label[for=email],
input[type=text], input[type=email]{
    display: inline-block;
    vertical-align: baseline;
}

label[for=project_title], label[for=project_id], label[for=email]{
    width: 100px;
}

input[type=text], input[type=email]{
    width: calc(70% - 100px);
}

form p{
    margin: 3px 0px;
}

.content-area{
    position: relative;
    width: 100%;
    margin: 0px;
    color: rgb(95,95,95);
    background-color: rgb(230,230,230);
    min-width: 520px;
}

#example-map{
    height: calc(60% - 80px);
    min-height: 350px;
    border: none;
}

#example-map iframe{
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.title-bar{
    position: absolute;
    background-color: rgba(50,50,50,.85);
    z-index: 100;

}

#title{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
}

#subtitle{
    top: 65%;
    right: 0px;
    width: 40%;
    min-width: 500px;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
}

.title-bar h1,  .title-bar h3{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: white;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    font-weight: lighter;
}

.content-area h2{
    position: relative;
    font-weight: lighter;
    text-align: center;
    padding: 15px 0px;
    margin: 0px;
}

.content-area > div{
    position: absolute;
    top: 63px;
    bottom: 0px;
}

#how-it-works{
    height: 40%;
    min-height: 335px;
}

#diagram{
    width: 100%;
}

.circle{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 14%;
    min-width: 180px;
    min-height: 180px;
    max-height: 240px;
    max-width: 240px;
    border-radius: 50%;
    border-width: 15px;
    border-style: solid;
    -webkit-transition: width .3s, border-radius .3s;
    transition: width .3s, border-radius .3s;

}

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle p{
    position: absolute;
    top: 50%;
    width: 95%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 2.5%;
}

#box1{
    left: 10%;
    border-color: rgba(68, 215, 168, .75);
    background-color: rgba(68, 215, 168, .25);
}

#box2{
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    border-color: rgba(68, 118, 215, .75);
    background-color: rgba(68, 118, 215, .25);
}

#box3{
    right: 10%;
    border-color: rgba(215, 68, 115, .75);
    background-color: rgba(215, 68, 115, .25);
}

#button-area{
    height: 80px;
}

#get-started{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: 100;
}

.button { 
  width: 20%;
  max-width: 300px;
  min-width: 120px;
  height: 50px;
  display: inline-block;
  background-color: #0dc4a3;
  border: 5px solid rgb(100,100,100);
  border-radius: 5px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 18px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.button:hover{
  background-color: rgb(50,50,50);
}

.button:active{
  background-color: rgb(90,90,90);
}

#upload-area{
    height: 60%;
    min-height: 560px;
}

#upload-information{
    width: 50%;
    overflow: auto;
}

#upload-information p, #upload-information ul{
    margin-left: 10px;
}

#upload-form{
    width: 50%;
    left: 50%;
    border-radius: 30px;
    background-color: rgba(256, 256, 256, .75);
}

#upload-form form{
    margin-top: 30px;
    margin-left: 15px;
    overflow: hidden;
}

.validate:before{
    content: '?';
    position: relative;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: darkgray;
    text-align: center;
    color: white;
}

.validate.valid:before{
    content: '✓';
    background: green;
}

.validate.invalid:before{
    content: '×';
    background: red;
}

#status{
    border: 1px solid darkgray;
}

#status:before{
    content: 'Status Message: ';
}

#progress{
    width: calc(100% - 10px);
    height: 30px;
    border: 5px solid darkgray;
}

#bar{
    width: 0%;
    height: 100%;
    background-color: #0dc4a3;
    -webkit-transition: width .1s;
    transition: width .1s;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * No Highlight
 */

.no-highlight {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media  (max-width: 520px){
    #subtitle{
        left: 0px;
        right:;
    }
}

@media (max-width: 780px){
    #how-it-works{
        min-height: 180px;
    }
    .circle{
        min-width: 100px;
        min-height: 100px;
        border-width: 8px;
    }

    .circle p{
        font-size: 14px;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    .circle{
        min-width: ;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
